extends layout

block content

    p You are logged in.

    h2 Welcome #{user.number}!
    br
    h1 Админка

    ul
        each user in users
            li #{user.number} #{user.goods}
               button.pure-button.pure-button-primary(data-id=user.id onClick='removeUser(this.dataset.id)') Delete

    form(action="/logout" method="post")
        button.pure-button(type="submit") Logout
    script.
        function removeUser(id){
          fetch(`/admin/${id}`, {method:'delete'})
        }